
*.ide-wal
.vs/ElementJobScheduler/v15/.suo
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-shm
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-wal
.vs/ElementJobScheduler/v15/.suo
Element.JobSchedulerUI.Tests/bin/.*
Element.JobSchedulerUI.Tests/bin/Debug/Microsoft.TestPlatform.AdapterUtilities.dll
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.xml
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.Web.xml
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.Web.pdb
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.Web.dll
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.pdb
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.Mvc.pdb
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.Mvc.dll
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.dll
Element.JobSchedulerUI.Tests/bin/Debug/EntityFramework.xml
Element.JobSchedulerUI.Tests/bin/Debug/EntityFramework.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.Models.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.Models.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.Tests.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.Tests.dll.config
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.Tests.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.dll.config
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.Data.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.Data.dll.config
Element.JobSchedulerUI.Tests/bin/Debug/Element.Data.dll
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-wal
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-wal
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-shm
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide
.vs/ElementJobScheduler/v15/.suo
.vs/ElementJobScheduler/v15/.suo
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-shm
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-wal
Element.Data/bin/.*
Element.Data/bin/Debug/Element.Data.dll
Element.Data/bin/Debug/Element.Data.dll.config
Element.Data/bin/Debug/Element.Data.pdb
Element.Data/bin/Debug/Element.Models.dll
Element.Data/bin/Debug/Element.Models.pdb
*.cache
Element.Data/obj/.*
Element.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Element.Data/obj/Debug/Element.Data.csproj.CoreCompileInputs.cache
Element.Data/obj/Debug/Element.Data.csproj.FileListAbsolute.txt
Element.Data/obj/Debug/Element.Data.csprojAssemblyReference.cache
Element.Data/obj/Debug/Element.Data.dll
Element.Data/obj/Debug/Element.Data.Migrations.Initial.resources
Element.Data/obj/Debug/Element.Data.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.dll.config
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.Tests.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.Tests.pdb
Element.JobSchedulerUI/bin/Element.Data.dll
Element.JobSchedulerUI/bin/Element.Data.dll.config
Element.JobSchedulerUI/bin/Element.Data.pdb
Element.JobSchedulerUI/bin/Element.JobSchedulerUI.dll
Element.JobSchedulerUI/bin/Element.JobSchedulerUI.dll.config
Element.JobSchedulerUI/bin/Element.JobSchedulerUI.pdb
Element.JobSchedulerUI/bin/Element.Models.dll
Element.JobSchedulerUI/bin/Element.Models.pdb
*.cache
Element.JobSchedulerUI/obj/.*
Element.JobSchedulerUI/obj/Debug/Element.JobSchedulerUI.dll
Element.JobSchedulerUI/obj/Debug/Element.JobSchedulerUI.pdb
Element.Models/bin/.*
Element.Models/bin/Debug/Element.Models.dll
Element.Models/bin/Debug/Element.Models.pdb
Element.Models/obj/.*
Element.Models/obj/Debug/Element.Models.dll
Element.Models/obj/Debug/Element.Models.pdb
.vs/ElementJobScheduler/v15/.suo
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-shm
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-wal
Element.Data/bin/Debug/Element.Data.dll
Element.Data/bin/Debug/Element.Data.dll.config
Element.Data/bin/Debug/Element.Data.pdb
Element.Data/bin/Debug/Element.Models.dll
Element.Data/bin/Debug/Element.Models.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.Tests.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.Tests.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.dll.config
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobScheduler.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobScheduler.dll
Element.JobScheduler/obj/Debug/Element.JobScheduler.pdb
Element.JobScheduler/obj/Debug/Element.JobScheduler.dll
Element.JobScheduler/obj/Debug/Element.JobScheduler.csproj.FileListAbsolute.txt
Element.JobScheduler/obj/Debug/Element.JobScheduler.csproj.CoreCompileInputs.cache
Element.JobScheduler/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.ide
*.ide-shm
*.ide-wal
