
*.ide-wal
.vs/ElementJobScheduler/v15/.suo
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-shm
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-wal
.vs/ElementJobScheduler/v15/.suo
Element.JobSchedulerUI.Tests/bin/.*
Element.JobSchedulerUI.Tests/bin/Debug/Microsoft.TestPlatform.AdapterUtilities.dll
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.xml
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.Web.xml
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.Web.pdb
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.Web.dll
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.pdb
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.Mvc.pdb
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.Mvc.dll
Element.JobSchedulerUI.Tests/bin/Debug/LightInject.dll
Element.JobSchedulerUI.Tests/bin/Debug/EntityFramework.xml
Element.JobSchedulerUI.Tests/bin/Debug/EntityFramework.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.Models.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.Models.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.Tests.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.Tests.dll.config
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.Tests.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.dll.config
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.Data.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.Data.dll.config
Element.JobSchedulerUI.Tests/bin/Debug/Element.Data.dll
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-wal
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-wal
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-shm
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide
.vs/ElementJobScheduler/v15/.suo
.vs/ElementJobScheduler/v15/.suo
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-shm
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-wal
Element.Data/bin/.*
Element.Data/bin/Debug/Element.Data.dll
Element.Data/bin/Debug/Element.Data.dll.config
Element.Data/bin/Debug/Element.Data.pdb
Element.Data/bin/Debug/Element.Models.dll
Element.Data/bin/Debug/Element.Models.pdb
*.cache
Element.Data/obj/.*
Element.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Element.Data/obj/Debug/Element.Data.csproj.CoreCompileInputs.cache
Element.Data/obj/Debug/Element.Data.csproj.FileListAbsolute.txt
Element.Data/obj/Debug/Element.Data.csprojAssemblyReference.cache
Element.Data/obj/Debug/Element.Data.dll
Element.Data/obj/Debug/Element.Data.Migrations.Initial.resources
Element.Data/obj/Debug/Element.Data.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.dll.config
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.Tests.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.Tests.pdb
Element.JobSchedulerUI/bin/Element.Data.dll
Element.JobSchedulerUI/bin/Element.Data.dll.config
Element.JobSchedulerUI/bin/Element.Data.pdb
Element.JobSchedulerUI/bin/Element.JobSchedulerUI.dll
Element.JobSchedulerUI/bin/Element.JobSchedulerUI.dll.config
Element.JobSchedulerUI/bin/Element.JobSchedulerUI.pdb
Element.JobSchedulerUI/bin/Element.Models.dll
Element.JobSchedulerUI/bin/Element.Models.pdb
*.cache
Element.JobSchedulerUI/obj/.*
Element.JobSchedulerUI/obj/Debug/Element.JobSchedulerUI.dll
Element.JobSchedulerUI/obj/Debug/Element.JobSchedulerUI.pdb
Element.Models/bin/.*
Element.Models/bin/Debug/Element.Models.dll
Element.Models/bin/Debug/Element.Models.pdb
Element.Models/obj/.*
Element.Models/obj/Debug/Element.Models.dll
Element.Models/obj/Debug/Element.Models.pdb
.vs/ElementJobScheduler/v15/.suo
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-shm
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-wal
Element.Data/bin/Debug/Element.Data.dll
Element.Data/bin/Debug/Element.Data.dll.config
Element.Data/bin/Debug/Element.Data.pdb
Element.Data/bin/Debug/Element.Models.dll
Element.Data/bin/Debug/Element.Models.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.Tests.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.Tests.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.dll.config
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobSchedulerUI.dll
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobScheduler.pdb
Element.JobSchedulerUI.Tests/bin/Debug/Element.JobScheduler.dll
Element.JobScheduler/obj/Debug/Element.JobScheduler.pdb
Element.JobScheduler/obj/Debug/Element.JobScheduler.dll
Element.JobScheduler/obj/Debug/Element.JobScheduler.csproj.FileListAbsolute.txt
Element.JobScheduler/obj/Debug/Element.JobScheduler.csproj.CoreCompileInputs.cache
Element.JobScheduler/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.ide
*.ide-shm
*.ide-wal
Element.Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Element.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Element.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Element.JobSchedulerUI/obj/Debug/Element.UI.csproj.FileListAbsolute.txt
Element.JobSchedulerUI/obj/Debug/Element.UI.csproj.CopyComplete
Element.JobSchedulerUI/obj/Debug/Element.UI.dll
Element.JobSchedulerUI/obj/Debug/Element.UI.pdb
Element.JobSchedulerUI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Element.JobSchedulerUI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Element.JobSchedulerUI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Element.Test.JobScheduler/bin/Debug/Cronos.dll
Element.Test.JobScheduler/bin/Debug/Cronos.xml
Element.Test.JobScheduler/bin/Debug/Element.JobScheduler.dll
Element.Test.JobScheduler/bin/Debug/Element.JobScheduler.pdb
Element.Test.JobScheduler/bin/Debug/Element.Test.JobScheduler.exe
Element.Test.JobScheduler/bin/Debug/Element.Test.JobScheduler.exe.config
Element.Test.JobScheduler/bin/Debug/Element.Test.JobScheduler.pdb
Element.Test.JobScheduler/bin/Debug/Microsoft.Win32.Primitives.dll
Element.Test.JobScheduler/bin/Debug/netstandard.dll
Element.Test.JobScheduler/bin/Debug/Ninject.dll
Element.Test.JobScheduler/bin/Debug/Ninject.xml
Element.Test.JobScheduler/bin/Debug/System.AppContext.dll
Element.Test.JobScheduler/bin/Debug/System.Collections.Concurrent.dll
Element.Test.JobScheduler/bin/Debug/System.Collections.dll
Element.Test.JobScheduler/bin/Debug/System.Collections.NonGeneric.dll
Element.Test.JobScheduler/bin/Debug/System.Collections.Specialized.dll
Element.Test.JobScheduler/bin/Debug/System.ComponentModel.dll
Element.Test.JobScheduler/bin/Debug/System.ComponentModel.EventBasedAsync.dll
Element.Test.JobScheduler/bin/Debug/System.ComponentModel.Primitives.dll
Element.Test.JobScheduler/bin/Debug/System.ComponentModel.TypeConverter.dll
Element.Test.JobScheduler/bin/Debug/System.Console.dll
Element.Test.JobScheduler/bin/Debug/System.Data.Common.dll
Element.Test.JobScheduler/bin/Debug/System.Diagnostics.Contracts.dll
Element.Test.JobScheduler/bin/Debug/System.Diagnostics.Debug.dll
Element.Test.JobScheduler/bin/Debug/System.Diagnostics.FileVersionInfo.dll
Element.Test.JobScheduler/bin/Debug/System.Diagnostics.Process.dll
Element.Test.JobScheduler/bin/Debug/System.Diagnostics.StackTrace.dll
Element.Test.JobScheduler/bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
Element.Test.JobScheduler/bin/Debug/System.Diagnostics.Tools.dll
Element.Test.JobScheduler/bin/Debug/System.Diagnostics.TraceSource.dll
Element.Test.JobScheduler/bin/Debug/System.Diagnostics.Tracing.dll
Element.Test.JobScheduler/bin/Debug/System.Drawing.Primitives.dll
Element.Test.JobScheduler/bin/Debug/System.Dynamic.Runtime.dll
Element.Test.JobScheduler/bin/Debug/System.Globalization.Calendars.dll
Element.Test.JobScheduler/bin/Debug/System.Globalization.dll
Element.Test.JobScheduler/bin/Debug/System.Globalization.Extensions.dll
Element.Test.JobScheduler/bin/Debug/System.IO.Compression.dll
Element.Test.JobScheduler/bin/Debug/System.IO.Compression.ZipFile.dll
Element.Test.JobScheduler/bin/Debug/System.IO.dll
Element.Test.JobScheduler/bin/Debug/System.IO.FileSystem.dll
Element.Test.JobScheduler/bin/Debug/System.IO.FileSystem.DriveInfo.dll
Element.Test.JobScheduler/bin/Debug/System.IO.FileSystem.Primitives.dll
Element.Test.JobScheduler/bin/Debug/System.IO.FileSystem.Watcher.dll
Element.Test.JobScheduler/bin/Debug/System.IO.IsolatedStorage.dll
Element.Test.JobScheduler/bin/Debug/System.IO.MemoryMappedFiles.dll
Element.Test.JobScheduler/bin/Debug/System.IO.Pipes.dll
Element.Test.JobScheduler/bin/Debug/System.IO.UnmanagedMemoryStream.dll
Element.Test.JobScheduler/bin/Debug/System.Linq.dll
Element.Test.JobScheduler/bin/Debug/System.Linq.Expressions.dll
Element.Test.JobScheduler/bin/Debug/System.Linq.Parallel.dll
Element.Test.JobScheduler/bin/Debug/System.Linq.Queryable.dll
Element.Test.JobScheduler/bin/Debug/System.Net.Http.dll
Element.Test.JobScheduler/bin/Debug/System.Net.NameResolution.dll
Element.Test.JobScheduler/bin/Debug/System.Net.NetworkInformation.dll
Element.Test.JobScheduler/bin/Debug/System.Net.Ping.dll
Element.Test.JobScheduler/bin/Debug/System.Net.Primitives.dll
Element.Test.JobScheduler/bin/Debug/System.Net.Requests.dll
Element.Test.JobScheduler/bin/Debug/System.Net.Security.dll
Element.Test.JobScheduler/bin/Debug/System.Net.Sockets.dll
Element.Test.JobScheduler/bin/Debug/System.Net.WebHeaderCollection.dll
Element.Test.JobScheduler/bin/Debug/System.Net.WebSockets.Client.dll
Element.Test.JobScheduler/bin/Debug/System.Net.WebSockets.dll
Element.Test.JobScheduler/bin/Debug/System.ObjectModel.dll
Element.Test.JobScheduler/bin/Debug/System.Reflection.dll
Element.Test.JobScheduler/bin/Debug/System.Reflection.Extensions.dll
Element.Test.JobScheduler/bin/Debug/System.Reflection.Primitives.dll
Element.Test.JobScheduler/bin/Debug/System.Resources.Reader.dll
Element.Test.JobScheduler/bin/Debug/System.Resources.ResourceManager.dll
Element.Test.JobScheduler/bin/Debug/System.Resources.Writer.dll
Element.Test.JobScheduler/bin/Debug/System.Runtime.CompilerServices.VisualC.dll
Element.Test.JobScheduler/bin/Debug/System.Runtime.dll
Element.Test.JobScheduler/bin/Debug/System.Runtime.Extensions.dll
Element.Test.JobScheduler/bin/Debug/System.Runtime.Handles.dll
Element.Test.JobScheduler/bin/Debug/System.Runtime.InteropServices.dll
Element.Test.JobScheduler/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
Element.Test.JobScheduler/bin/Debug/System.Runtime.Numerics.dll
Element.Test.JobScheduler/bin/Debug/System.Runtime.Serialization.Formatters.dll
Element.Test.JobScheduler/bin/Debug/System.Runtime.Serialization.Json.dll
Element.Test.JobScheduler/bin/Debug/System.Runtime.Serialization.Primitives.dll
Element.Test.JobScheduler/bin/Debug/System.Runtime.Serialization.Xml.dll
Element.Test.JobScheduler/bin/Debug/System.Security.Claims.dll
Element.Test.JobScheduler/bin/Debug/System.Security.Cryptography.Algorithms.dll
Element.Test.JobScheduler/bin/Debug/System.Security.Cryptography.Csp.dll
Element.Test.JobScheduler/bin/Debug/System.Security.Cryptography.Encoding.dll
Element.Test.JobScheduler/bin/Debug/System.Security.Cryptography.Primitives.dll
Element.Test.JobScheduler/bin/Debug/System.Security.Cryptography.X509Certificates.dll
Element.Test.JobScheduler/bin/Debug/System.Security.Principal.dll
Element.Test.JobScheduler/bin/Debug/System.Security.SecureString.dll
Element.Test.JobScheduler/bin/Debug/System.Text.Encoding.dll
Element.Test.JobScheduler/bin/Debug/System.Text.Encoding.Extensions.dll
Element.Test.JobScheduler/bin/Debug/System.Text.RegularExpressions.dll
Element.Test.JobScheduler/bin/Debug/System.Threading.dll
Element.Test.JobScheduler/bin/Debug/System.Threading.Overlapped.dll
Element.Test.JobScheduler/bin/Debug/System.Threading.Tasks.dll
Element.Test.JobScheduler/bin/Debug/System.Threading.Tasks.Parallel.dll
Element.Test.JobScheduler/bin/Debug/System.Threading.Thread.dll
Element.Test.JobScheduler/bin/Debug/System.Threading.ThreadPool.dll
Element.Test.JobScheduler/bin/Debug/System.Threading.Timer.dll
Element.Test.JobScheduler/bin/Debug/System.ValueTuple.dll
Element.Test.JobScheduler/bin/Debug/System.Xml.ReaderWriter.dll
Element.Test.JobScheduler/bin/Debug/System.Xml.XDocument.dll
Element.Test.JobScheduler/bin/Debug/System.Xml.XmlDocument.dll
Element.Test.JobScheduler/bin/Debug/System.Xml.XmlSerializer.dll
Element.Test.JobScheduler/bin/Debug/System.Xml.XPath.dll
Element.Test.JobScheduler/bin/Debug/System.Xml.XPath.XDocument.dll
Element.Test.JobScheduler/bin/Debug/TestTJobScheduler.exe
Element.Test.JobScheduler/bin/Debug/TestTJobScheduler.exe.config
Element.Test.JobScheduler/bin/Debug/TestTJobScheduler.pdb
Element.Test.JobScheduler/bin/Debug/TJobScheduler.dll
Element.Test.JobScheduler/bin/Debug/TJobScheduler.pdb
Element.Test.JobScheduler/Element.Test.JobScheduler.csproj
Element.Test.JobScheduler/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Element.Test.JobScheduler/obj/Debug/Element.Test.JobScheduler.csproj.CopyComplete
Element.Test.JobScheduler/obj/Debug/Element.Test.JobScheduler.csproj.CoreCompileInputs.cache
Element.Test.JobScheduler/obj/Debug/Element.Test.JobScheduler.csproj.FileListAbsolute.txt
Element.Test.JobScheduler/obj/Debug/Element.Test.JobScheduler.csprojAssemblyReference.cache
Element.Test.JobScheduler/obj/Debug/Element.Test.JobScheduler.exe
Element.Test.JobScheduler/obj/Debug/Element.Test.JobScheduler.pdb
Element.Test.JobScheduler/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Element.Test.JobScheduler/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Element.Test.JobScheduler/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Element.Test.JobScheduler/obj/Debug/TestTJobScheduler.csproj.CopyComplete
Element.Test.JobScheduler/obj/Debug/TestTJobScheduler.csproj.CoreCompileInputs.cache
Element.Test.JobScheduler/obj/Debug/TestTJobScheduler.csproj.FileListAbsolute.txt
Element.Test.JobScheduler/obj/Debug/TestTJobScheduler.csprojAssemblyReference.cache
.vs/ElementJobScheduler/v15/Server/sqlite3/db.lock
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-shm
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-wal
Element.Data/bin/Debug/EntityFramework.dll
Element.Data/bin/Debug/EntityFramework.SqlServer.dll
Element.Data/bin/Debug/EntityFramework.SqlServer.xml
Element.Data/bin/Debug/EntityFramework.xml
Element.Data/obj/Debug/Element.Data.csproj.CopyComplete
Element.Data/obj/Debug/Element.Data.Migrations.InitDb.resources
Element.JobScheduler/bin/Debug/Cronos.dll
Element.JobScheduler/bin/Debug/Cronos.xml
Element.JobScheduler/bin/Debug/Element.JobScheduler.dll
Element.JobScheduler/bin/Debug/Element.JobScheduler.pdb
Element.JobScheduler/bin/Debug/Element.Models.dll
Element.JobScheduler/bin/Debug/Element.Models.pdb
Element.JobScheduler/obj/Debug/Element.JobScheduler.csproj.CopyComplete
Element.JobScheduler/ScheduledJobStorageEntity.cs
Element.JobScheduler/ScheduledJobStorageEntityHistory.cs
Element.JobSchedulerUI.Tests/bin/Debug/Cronos.dll
Element.JobSchedulerUI.Tests/bin/Debug/Cronos.xml
Element.JobSchedulerUI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
Element.JobSchedulerUI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
Element.JobSchedulerUI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
Element.JobSchedulerUI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
Element.JobSchedulerUI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
Element.JobSchedulerUI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
Element.JobSchedulerUI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
Element.JobSchedulerUI.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
Element.JobSchedulerUI.Tests/bin/Debug/Newtonsoft.Json.dll
Element.JobSchedulerUI.Tests/bin/Debug/Newtonsoft.Json.xml
Element.JobSchedulerUI.Tests/bin/Debug/System.Net.Http.Formatting.dll
Element.JobSchedulerUI.Tests/bin/Debug/System.Net.Http.Formatting.xml
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.Helpers.dll
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.Helpers.xml
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.Http.dll
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.Http.WebHost.dll
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.Http.WebHost.xml
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.Http.xml
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.Mvc.dll
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.Mvc.xml
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.Optimization.dll
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.Optimization.xml
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.Razor.dll
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.Razor.xml
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.WebPages.dll
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.WebPages.Razor.dll
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.WebPages.Razor.xml
Element.JobSchedulerUI.Tests/bin/Debug/System.Web.WebPages.xml
Element.JobSchedulerUI.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Element.JobSchedulerUI.Tests/obj/Debug/Element.JobSchedulerUI.Tests.csproj.CopyComplete
Element.JobSchedulerUI.Tests/obj/Debug/Element.JobSchedulerUI.Tests.csproj.FileListAbsolute.txt
Element.JobSchedulerUI.Tests/obj/Debug/Element.JobSchedulerUI.Tests.dll
Element.JobSchedulerUI.Tests/obj/Debug/Element.JobSchedulerUI.Tests.pdb
Element.JobSchedulerUI/bin/Antlr3.Runtime.dll
Element.JobSchedulerUI/bin/Antlr3.Runtime.pdb
Element.JobSchedulerUI/bin/Cronos.dll
Element.JobSchedulerUI/bin/Cronos.xml
Element.JobSchedulerUI/bin/Element.JobScheduler.dll
Element.JobSchedulerUI/bin/Element.JobScheduler.pdb
Element.JobSchedulerUI/bin/EntityFramework.dll
Element.JobSchedulerUI/bin/EntityFramework.SqlServer.dll
Element.JobSchedulerUI/bin/EntityFramework.SqlServer.xml
Element.JobSchedulerUI/bin/EntityFramework.xml
Element.JobSchedulerUI/bin/LightInject.dll
Element.JobSchedulerUI/bin/LightInject.Mvc.dll
Element.JobSchedulerUI/bin/LightInject.Mvc.pdb
Element.JobSchedulerUI/bin/LightInject.pdb
Element.JobSchedulerUI/bin/LightInject.Web.dll
Element.JobSchedulerUI/bin/LightInject.Web.pdb
Element.JobSchedulerUI/bin/LightInject.Web.xml
Element.JobSchedulerUI/bin/LightInject.xml
Element.JobSchedulerUI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Element.JobSchedulerUI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Element.JobSchedulerUI/bin/Microsoft.Web.Infrastructure.dll
Element.JobSchedulerUI/bin/Microsoft.Win32.Primitives.dll
Element.JobSchedulerUI/bin/netstandard.dll
Element.JobSchedulerUI/bin/Newtonsoft.Json.dll
Element.JobSchedulerUI/bin/Newtonsoft.Json.xml
Element.JobSchedulerUI/bin/roslyn/csc.exe
Element.JobSchedulerUI/bin/roslyn/csc.exe.config
Element.JobSchedulerUI/bin/roslyn/csc.rsp
Element.JobSchedulerUI/bin/roslyn/csi.exe
Element.JobSchedulerUI/bin/roslyn/csi.exe.config
Element.JobSchedulerUI/bin/roslyn/csi.rsp
Element.JobSchedulerUI/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
Element.JobSchedulerUI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Element.JobSchedulerUI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Element.JobSchedulerUI/bin/roslyn/Microsoft.CodeAnalysis.dll
Element.JobSchedulerUI/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
Element.JobSchedulerUI/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Element.JobSchedulerUI/bin/roslyn/Microsoft.CSharp.Core.targets
Element.JobSchedulerUI/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Element.JobSchedulerUI/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
Element.JobSchedulerUI/bin/roslyn/Microsoft.Managed.Core.targets
Element.JobSchedulerUI/bin/roslyn/Microsoft.VisualBasic.Core.targets
Element.JobSchedulerUI/bin/roslyn/System.AppContext.dll
Element.JobSchedulerUI/bin/roslyn/System.Collections.Immutable.dll
Element.JobSchedulerUI/bin/roslyn/System.Console.dll
Element.JobSchedulerUI/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
Element.JobSchedulerUI/bin/roslyn/System.Diagnostics.StackTrace.dll
Element.JobSchedulerUI/bin/roslyn/System.IO.Compression.dll
Element.JobSchedulerUI/bin/roslyn/System.IO.FileSystem.dll
Element.JobSchedulerUI/bin/roslyn/System.IO.FileSystem.Primitives.dll
Element.JobSchedulerUI/bin/roslyn/System.IO.Pipes.AccessControl.dll
Element.JobSchedulerUI/bin/roslyn/System.IO.Pipes.dll
Element.JobSchedulerUI/bin/roslyn/System.Reflection.Metadata.dll
Element.JobSchedulerUI/bin/roslyn/System.Security.AccessControl.dll
Element.JobSchedulerUI/bin/roslyn/System.Security.Claims.dll
Element.JobSchedulerUI/bin/roslyn/System.Security.Cryptography.Algorithms.dll
Element.JobSchedulerUI/bin/roslyn/System.Security.Cryptography.Encoding.dll
Element.JobSchedulerUI/bin/roslyn/System.Security.Cryptography.Primitives.dll
Element.JobSchedulerUI/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
Element.JobSchedulerUI/bin/roslyn/System.Security.Principal.Windows.dll
Element.JobSchedulerUI/bin/roslyn/System.Text.Encoding.CodePages.dll
Element.JobSchedulerUI/bin/roslyn/System.ValueTuple.dll
Element.JobSchedulerUI/bin/roslyn/System.Xml.ReaderWriter.dll
Element.JobSchedulerUI/bin/roslyn/System.Xml.XmlDocument.dll
Element.JobSchedulerUI/bin/roslyn/System.Xml.XPath.dll
Element.JobSchedulerUI/bin/roslyn/System.Xml.XPath.XDocument.dll
Element.JobSchedulerUI/bin/roslyn/vbc.exe
Element.JobSchedulerUI/bin/roslyn/vbc.exe.config
Element.JobSchedulerUI/bin/roslyn/vbc.rsp
Element.JobSchedulerUI/bin/roslyn/VBCSCompiler.exe
Element.JobSchedulerUI/bin/roslyn/VBCSCompiler.exe.config
Element.JobSchedulerUI/bin/System.AppContext.dll
Element.JobSchedulerUI/bin/System.Collections.Concurrent.dll
Element.JobSchedulerUI/bin/System.Collections.dll
Element.JobSchedulerUI/bin/System.Collections.NonGeneric.dll
Element.JobSchedulerUI/bin/System.Collections.Specialized.dll
Element.JobSchedulerUI/bin/System.ComponentModel.dll
Element.JobSchedulerUI/bin/System.ComponentModel.EventBasedAsync.dll
Element.JobSchedulerUI/bin/System.ComponentModel.Primitives.dll
Element.JobSchedulerUI/bin/System.ComponentModel.TypeConverter.dll
Element.JobSchedulerUI/bin/System.Console.dll
Element.JobSchedulerUI/bin/System.Data.Common.dll
Element.JobSchedulerUI/bin/System.Diagnostics.Contracts.dll
Element.JobSchedulerUI/bin/System.Diagnostics.Debug.dll
Element.JobSchedulerUI/bin/System.Diagnostics.FileVersionInfo.dll
Element.JobSchedulerUI/bin/System.Diagnostics.Process.dll
Element.JobSchedulerUI/bin/System.Diagnostics.StackTrace.dll
Element.JobSchedulerUI/bin/System.Diagnostics.TextWriterTraceListener.dll
Element.JobSchedulerUI/bin/System.Diagnostics.Tools.dll
Element.JobSchedulerUI/bin/System.Diagnostics.TraceSource.dll
Element.JobSchedulerUI/bin/System.Diagnostics.Tracing.dll
Element.JobSchedulerUI/bin/System.Drawing.Primitives.dll
Element.JobSchedulerUI/bin/System.Dynamic.Runtime.dll
Element.JobSchedulerUI/bin/System.Globalization.Calendars.dll
Element.JobSchedulerUI/bin/System.Globalization.dll
Element.JobSchedulerUI/bin/System.Globalization.Extensions.dll
Element.JobSchedulerUI/bin/System.IO.Compression.dll
Element.JobSchedulerUI/bin/System.IO.Compression.ZipFile.dll
Element.JobSchedulerUI/bin/System.IO.dll
Element.JobSchedulerUI/bin/System.IO.FileSystem.dll
Element.JobSchedulerUI/bin/System.IO.FileSystem.DriveInfo.dll
Element.JobSchedulerUI/bin/System.IO.FileSystem.Primitives.dll
Element.JobSchedulerUI/bin/System.IO.FileSystem.Watcher.dll
Element.JobSchedulerUI/bin/System.IO.IsolatedStorage.dll
Element.JobSchedulerUI/bin/System.IO.MemoryMappedFiles.dll
Element.JobSchedulerUI/bin/System.IO.Pipes.dll
Element.JobSchedulerUI/bin/System.IO.UnmanagedMemoryStream.dll
Element.JobSchedulerUI/bin/System.Linq.dll
Element.JobSchedulerUI/bin/System.Linq.Expressions.dll
Element.JobSchedulerUI/bin/System.Linq.Parallel.dll
Element.JobSchedulerUI/bin/System.Linq.Queryable.dll
Element.JobSchedulerUI/bin/System.Net.Http.dll
Element.JobSchedulerUI/bin/System.Net.Http.Formatting.dll
Element.JobSchedulerUI/bin/System.Net.Http.Formatting.xml
Element.JobSchedulerUI/bin/System.Net.NameResolution.dll
Element.JobSchedulerUI/bin/System.Net.NetworkInformation.dll
Element.JobSchedulerUI/bin/System.Net.Ping.dll
Element.JobSchedulerUI/bin/System.Net.Primitives.dll
Element.JobSchedulerUI/bin/System.Net.Requests.dll
Element.JobSchedulerUI/bin/System.Net.Security.dll
Element.JobSchedulerUI/bin/System.Net.Sockets.dll
Element.JobSchedulerUI/bin/System.Net.WebHeaderCollection.dll
Element.JobSchedulerUI/bin/System.Net.WebSockets.Client.dll
Element.JobSchedulerUI/bin/System.Net.WebSockets.dll
Element.JobSchedulerUI/bin/System.ObjectModel.dll
Element.JobSchedulerUI/bin/System.Reflection.dll
Element.JobSchedulerUI/bin/System.Reflection.Extensions.dll
Element.JobSchedulerUI/bin/System.Reflection.Primitives.dll
Element.JobSchedulerUI/bin/System.Resources.Reader.dll
Element.JobSchedulerUI/bin/System.Resources.ResourceManager.dll
Element.JobSchedulerUI/bin/System.Resources.Writer.dll
Element.JobSchedulerUI/bin/System.Runtime.CompilerServices.Unsafe.dll
Element.JobSchedulerUI/bin/System.Runtime.CompilerServices.Unsafe.xml
Element.JobSchedulerUI/bin/System.Runtime.CompilerServices.VisualC.dll
Element.JobSchedulerUI/bin/System.Runtime.dll
Element.JobSchedulerUI/bin/System.Runtime.Extensions.dll
Element.JobSchedulerUI/bin/System.Runtime.Handles.dll
Element.JobSchedulerUI/bin/System.Runtime.InteropServices.dll
Element.JobSchedulerUI/bin/System.Runtime.InteropServices.RuntimeInformation.dll
Element.JobSchedulerUI/bin/System.Runtime.Numerics.dll
Element.JobSchedulerUI/bin/System.Runtime.Serialization.Formatters.dll
Element.JobSchedulerUI/bin/System.Runtime.Serialization.Json.dll
Element.JobSchedulerUI/bin/System.Runtime.Serialization.Primitives.dll
Element.JobSchedulerUI/bin/System.Runtime.Serialization.Xml.dll
Element.JobSchedulerUI/bin/System.Security.Claims.dll
Element.JobSchedulerUI/bin/System.Security.Cryptography.Algorithms.dll
Element.JobSchedulerUI/bin/System.Security.Cryptography.Csp.dll
Element.JobSchedulerUI/bin/System.Security.Cryptography.Encoding.dll
Element.JobSchedulerUI/bin/System.Security.Cryptography.Primitives.dll
Element.JobSchedulerUI/bin/System.Security.Cryptography.X509Certificates.dll
Element.JobSchedulerUI/bin/System.Security.Principal.dll
Element.JobSchedulerUI/bin/System.Security.SecureString.dll
Element.JobSchedulerUI/bin/System.Text.Encoding.dll
Element.JobSchedulerUI/bin/System.Text.Encoding.Extensions.dll
Element.JobSchedulerUI/bin/System.Text.RegularExpressions.dll
Element.JobSchedulerUI/bin/System.Threading.dll
Element.JobSchedulerUI/bin/System.Threading.Overlapped.dll
Element.JobSchedulerUI/bin/System.Threading.Tasks.dll
Element.JobSchedulerUI/bin/System.Threading.Tasks.Extensions.dll
Element.JobSchedulerUI/bin/System.Threading.Tasks.Extensions.xml
Element.JobSchedulerUI/bin/System.Threading.Tasks.Parallel.dll
Element.JobSchedulerUI/bin/System.Threading.Thread.dll
Element.JobSchedulerUI/bin/System.Threading.ThreadPool.dll
Element.JobSchedulerUI/bin/System.Threading.Timer.dll
Element.JobSchedulerUI/bin/System.ValueTuple.dll
Element.JobSchedulerUI/bin/System.Web.Helpers.dll
Element.JobSchedulerUI/bin/System.Web.Helpers.xml
Element.JobSchedulerUI/bin/System.Web.Http.dll
Element.JobSchedulerUI/bin/System.Web.Http.WebHost.dll
Element.JobSchedulerUI/bin/System.Web.Http.WebHost.xml
Element.JobSchedulerUI/bin/System.Web.Http.xml
Element.JobSchedulerUI/bin/System.Web.Mvc.dll
Element.JobSchedulerUI/bin/System.Web.Mvc.xml
Element.JobSchedulerUI/bin/System.Web.Optimization.dll
Element.JobSchedulerUI/bin/System.Web.Optimization.xml
Element.JobSchedulerUI/bin/System.Web.Razor.dll
Element.JobSchedulerUI/bin/System.Web.Razor.xml
Element.JobSchedulerUI/bin/System.Web.WebPages.Deployment.dll
Element.JobSchedulerUI/bin/System.Web.WebPages.Deployment.xml
Element.JobSchedulerUI/bin/System.Web.WebPages.dll
Element.JobSchedulerUI/bin/System.Web.WebPages.Razor.dll
Element.JobSchedulerUI/bin/System.Web.WebPages.Razor.xml
Element.JobSchedulerUI/bin/System.Web.WebPages.xml
Element.JobSchedulerUI/bin/System.Xml.ReaderWriter.dll
Element.JobSchedulerUI/bin/System.Xml.XDocument.dll
Element.JobSchedulerUI/bin/System.Xml.XmlDocument.dll
Element.JobSchedulerUI/bin/System.Xml.XmlSerializer.dll
Element.JobSchedulerUI/bin/System.Xml.XPath.dll
Element.JobSchedulerUI/bin/System.Xml.XPath.XDocument.dll
Element.JobSchedulerUI/bin/WebActivatorEx.dll
Element.JobSchedulerUI/bin/WebGrease.dll
Element.JobSchedulerUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Element.JobSchedulerUI/obj/Debug/Element.JobSchedulerUI.csproj.CopyComplete
Element.JobSchedulerUI/obj/Debug/Element.JobSchedulerUI.csproj.FileListAbsolute.txt
Element.Models/obj/Debug/Element.Models.csproj.FileListAbsolute.txt
.vs/ElementJobScheduler/v15/Server/sqlite3/db.lock
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-shm
.vs/ElementJobScheduler/v15/Server/sqlite3/storage.ide-wal
Element.JobSchedulerUI.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Element.JobSchedulerUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
