@model List<Element.JobScheduler.Models.JobModel>
@{
    ViewBag.Title = "Element Jobs";
    WebGrid grid = new WebGrid(Model);
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">@ViewBag.Title is a lightweight job scheduler.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Jobs overview</h2>

        @grid.GetHtml(
        mode: WebGridPagerModes.FirstLast,
        tableStyle: "tranlist",
        headerStyle: "headerstyle",
        footerStyle: "webgrid-footer",
        firstText: "First",
        lastText: "Last",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        numericLinksCount: 5,
        columns: new[] {
            grid.Column("Name", header: "Job name", style:"bigcolumn"),
            grid.Column("LastRunDate", header: "Run Date", style:"bigcolumn"),
            grid.Column("LastExecutionDuration", header: "Duration", style:"bigcolumn"),
            grid.Column("RunWithSuccess", header: "Execution status", style:"bigcolumn"),
            grid.Column("NextRunDate", header: "Next run", style:"bigcolumn"),
         })
    </div>
</div>