<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <configSections>
    <sectionGroup name="customAppSettingsGroup">
      <section name="customAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    <section name="JobSchedulerSection" type="Element.JobScheduler.Configuration.JobSchedulerSection, Element.JobScheduler" />
  </configSections>
  <JobSchedulerSection>
    <Jobs>
      <Job name="TestTJob" schedule="0 */1 * * *" />
    </Jobs>
  </JobSchedulerSection>
</configuration>